@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab&family=VT323&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff5e4;
}

.header {
  background-color: #fff5e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #7895b2;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-family: "VT323", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.board {
  width: 512px;
  height: 512px;
  display: grid;
  background-color: #ffffff;
  border-radius: 10px;
}

.altbar {
  margin-top: 25px;
  width: 597px;
  height: 74px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background: #ffd1d1;
}

#clear {
  width: 100px;
  height: 40px;
  border-radius: 16px;
  border: none;
  background: #7895b2;
  color: #ffffff;
  font-size: 20px;
  font-family: "VT323", monospace;
}

#colorpicker {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #ffd1d1;
}

.sizepicker {
  display: flex;
  align-items: center;
}

#sizepicker {
  width: 50%;
  height: 10px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#size {
  color: #5786b5;
  font-size: 25px;
  font-family: "VT323", monospace;
  margin-left: 10px;
}
